<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analysis</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/main.css" />
</head>
<body style="font-family: Arial; text-align:center">
    <h1  style="text-align: center; margin-top:50px;">Analysis of whatsapp chat {{chat_name}}</h1>

    <div style="margin-top:50px;"  class="container text-center">
      <div class="row justify-content-md-center">
        <div class="col col-lg-3">
            <h3>Total Messages: {{total_msg}}</h3>
        </div>
        <div class="col col-lg-3">
            <h3>Total words: {{words}}</h3>
        </div>
        <div class="col col-lg-3">
          <h3>Active Users: {{media}}</h3>
        </div>
          <div class="col col-lg-3">
          <h3>Links Shared: {{links}}</h3>
        </div>

      </div>

     </div>


    <div style="margin-top:50px;" class="activity">
        <div style="margin: 30px">
            <h2>Daily Activity over a period of time</h2>
            <img src="static/images/daily_activity.png" alt="plot" height="600" width="600">
<!--            <object data="static/images/daily_activity.png" width="800" height="800"> </object>-->
        </div>
        <div style="margin:30px;" >
            <h2>Most active days</h2>
            <img src="static/images/top10_days.png" alt="plot" height="600" width="600">
        </div>
        <div style="margin: 30px">
            <h2>Hourly Acitivty</h2>
            <img src="static/images/hourly_activity.png" alt="plot" height="600" width="600">
        </div>

        <div style="margin: 30px">
            <h2>Monthly Activity</h2>
            <img src="static/images/monthly_activity.png" alt="plot" height="600" width="600">
        </div>
        <div style="margin: 30px">
            <h2>Most active useres</h2>
            <table class="fl-table" style="border:1px solid black; margin-left:auto; margin-right:auto; margin-bottom:50px;" >
                <thead>
                  <tr>
                    {% for col in column_names1 %}
                    <th>
                      {{col}}
                    </th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for row in row_data1 %}
                  <tr>
                    {% for col, row_ in zip(column_names1, row) %}
                    <td>{{row_}}</td>
                    {% endfor %}
                  </tr>
                  {% endfor %}
                    </tbody>
            </table>
<!--            <img src="static/images/top_users_df.png" alt="plot" height="450" width="300">-->
        </div>
        <div style="margin: 20px">

            <img src="static/images/most_active_users.png" alt="plot" height="600" width="600">
        </div>

        <div style="margin: 20px">
            <h2 style="margin-top:30px;">Most used words - WORDCLOUD</h2>
            <img src="static/images/word_cloud.png" alt="plot" height="500" width="450">
        </div>
    </div>

    <div style="margin-top:50px;">
        <div style="margin-top:50px;">
            <img src="static/images/pie_chart.png" alt="pie_chart" height="500px" width="500px">
        </div>
        <div>
            <h2 style="margin-bottom:50px; margin-top:50px;">Sentiment of Users</h2>
            <table class="fl-table" style="border:1px solid black; margin-left:auto; margin-right:auto; margin-bottom:50px;" >
                <thead>
                  <tr>
                    {% for col in column_names %}
                    <th>
                      {{col}}
                    </th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for row in row_data %}
                  <tr>
                    {% for col, row_ in zip(column_names, row) %}
                    <td>{{row_}}</td>
                    {% endfor %}
                  </tr>
                  {% endfor %}
                    </tbody>
            </table>
        </div>
    </div>
</body>
</html>